header {
    height: 100vh;
    background: #000;
    z-index: 9998;
    background-image: url(img/top1.jpg);
    background-position: center;
}

.header-inner {
    width: 80vw;
    margin: 0 auto;
    height: 5rem;
    background: transparent;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    padding-right: 1rem;
    margin: 0 auto;
}

#language {
    color: #fff;
    border: 1px solid #fff;
    padding: 0.3rem;
}

.login {
    height: 2rem;
    background-color: #e11e1e;
    border-radius: 20%;
    color: #fff;
}

.section {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.catch {
    color: #fff;
    font-size: 3rem;
}
